@mixin flexBox {
  display: flex;
  max-width: $flexbox-width;
  margin: 0 auto;
  padding: 0 2rem;
}

@mixin centerPosition {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
