@mixin flexBox {
  display: flex;
  max-width: $flexbox-width;
  margin: 0 auto;
  padding: 0 2rem;
}

@mixin centerPosition {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//Media query manager

@mixin respond($break-point) {
  @if $break-point==phone {
    //600px
    @media (max-width: 37.5em) {
      @content;
    }
  }

  @if $break-point==tab-port {
    //900px
    @media (max-width: 56.25em) {
      @content;
    }
  }

  @if $break-point==tab-land {
    //1200px
    @media (max-width: 75em) {
      @content;
    }
  }

  @if $break-point==big-desktop {
    //1800
    @media (min-width: 112.5em) {
      @content;
    }
  }
}
