.about-flexbox {
  display: flex;
  flex-wrap: wrap;
  max-width: $flexbox-width;
  margin: 0 auto;
  justify-content: center;
}

.about-img {
  flex: 1;
}

.features-flexbox {
  display: flex;
  max-width: $flexbox-width;
  margin: 0 auto;
}
