.about-flexbox {
  display: flex;
  flex-wrap: wrap;
  max-width: $flexbox-width;
  margin: 0 auto;
  justify-content: center;
  padding: 0 2rem;
}

.about-img {
  flex: 1;
}

.features-flexbox {
  @include flexBox();
}

.tours-flexbox {
  @include flexBox();
}

.story-flexbox {
  @include flexBox();
  flex-direction: column;
}
